# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Py_project\aichaty-awesome-chatgpt-cn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
